@charset "utf-8";

.containertwo {
	width: 400px;
	position: relative;
	font-family: 微软雅黑;
	font-size: 12px;
	margin-left: 50px;
	margin-top: 30px;
}

.container p {
	line-height: 12px;
	line-height: 0px;
	height: 0px;
	margin: 10px;
	color: #bbb
}

.action {
	width: 400px;
	height: 30px;
	margin: 10px 0;
}

.cropped {
	position: absolute;
	left: 410px;
	top: 0;
	width: 180px;
	border: 1px #ddd solid;
	height: 470px;
	padding: 4px;
	box-shadow: 0px 0px 12px #ddd;
	text-align: center;
	top: 0;
}

.imageBox {
	position: relative;
	height: 400px;
	width: 400px;
	border: 1px solid #aaa;
	background: #fff;
	overflow: hidden;
	background-repeat: no-repeat;
	cursor: move;
	box-shadow: 4px 4px 12px #B0B0B0;
	cursor: pointer;
}

.imageBox .thumbBox {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 200px;
	margin-top: -100px;
	margin-left: -100px;
	box-sizing: border-box;
	border: 1px solid rgb(102, 102, 102);
	box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
	background: none repeat scroll 0% 0% transparent;
	cursor: pointer;
}

.imageBox .spinner {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	line-height: 400px;
	background: rgba(0, 0, 0, 0.7);
	cursor: pointer;
}

.Btnsty_peyton {
	float: right;
	width: 66px;
	display: inline-block;
	margin-bottom: 10px;
	height: 57px;
	line-height: 57px;
	font-size: 20px;
	color: #FFFFFF;
	margin: 0px 2px;
	background-color: rgb(49, 176, 213);
	border-radius: 3px;
	text-decoration: none;
	cursor: pointer;
	box-shadow: 0px 0px 5px #B0B0B0;
	border: 0px #fff solid;
	cursor: pointer;
}
/*选择文件上传*/
.new-contentarea {
	width: 165px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	float: left;
	cursor: pointer;
}

.new-contentarea label {
	width: 100%;
	height: 100%;
	display: block;
	cursor: pointer;
}

.new-contentarea input[type=file] {
	width: 188px;
	height: 60px;
	background: #333;
	margin: 0 auto;
	position: absolute;
	right: 50%;
	margin-right: -94px;
	top: 0;
	right /*\**/: 0px\9;
	margin-right /*\**/: 0px\9;
	width /*\**/: 10px\9;
	opacity: 0;
	filter: alpha(opacity = 0);
	z-index: 2;
	cursor: pointer;
}

a.upload-img {
	width: 165px;
	display: inline-block;
	margin-bottom: 10px;
	height: 57px;
	line-height: 57px;
	font-size: 20px;
	color: #FFFFFF;
	background-color: rgb(49, 176, 213);
	border-radius: 3px;
	text-decoration: none;
	cursor: pointer;
	border: 0px #fff solid;
	box-shadow: 0px 0px 5px #B0B0B0;
	cursor: pointer;
}

a.upload-img:hover {
	background-color: #ec7e70;
}

.tc {
	text-align: center;
	cursor: pointer;
}